
.footer {

    @include allCenter;
    background-color: $bg-componment;
    border-top: 1px solid $dropdownMenu-border-color;
    font-size: $font-size-footer; // 14px
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 0;

    .footerContent {
        padding: 0;

        .showInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font-color-footer;
                padding: 2px 0;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-decoration: none;
                    color: $font-color-footer;
                }
            }
        }
    }
}

// 媒体查询(适用于网页放大和缩小)
@media screen and (min-width: 1440px) {
    .footerContent {
      max-width: 1362px;
    }
}
  
  @media screen and (min-width: 1680px) {
    .footerContent {
      max-width: 1482px;
    }
}