.navbar {
  display: block;
  position: relative;
  background-color: $bg-color-content;
  color: $text-color;
  height: 100%; // 60px

  .headerContent {
    height: $height-navItem; // 40px
    display: flex;
    margin: 0 auto;
    padding: $space-navBox; // 10px

    .logo {
      // logo + bread
      @include flexEndCenter;

      .bread {
        padding: 0 8px;
      }

      .author {
        font-family: "DejaVu Sans Mono";
      }
    }

    .navList {
      @include list;
      // font
      font-size: $font-size-nav; // 16px
      font-weight: $font-weight-nav; // 500
      color: $font-color-nav;

      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;

      .navItem {
        padding: 0 0.5rem;

        .navTitle {
          padding: 4px 0;
          position: relative;
          cursor: pointer;
          // hover特效
          &:hover {
            color: $underline-color;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $underline-color;
            transition: width 0.7s ease-in-out;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;

        .moblieButton {
          border: none;
          outline: none;
          padding: 0 0.5rem;
          height: $height-navItem; // 40px
          background-color: $bg-componment;
          cursor: pointer;

          .buttonContainer {
            width: 16px;
            height: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;

            .buttonTop,
            .buttonBottom,
            .buttonTopActive,
            .buttonBottomActive {
              // 设置双线下拉菜单展开栏
              width: 16px;
              height: 2px;
              border-radius: 50px;
              background-color: $gray;
              transition: 0.5s;
            }

            // 分别设置双线动画
            .buttonTop {
              position: relative;
              top: -3px;
            }
            .buttonBottom {
              position: relative;
              top: 3px;
            }
            .buttonTopActive {
              position: relative;
              top: 1px;
              transform: rotate(45deg);
            }
            .buttonBottomActive {
              position: relative;
              top: -1px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .dropdownMenu {
      @include list;
      position: absolute;
      overflow: hidden; // 防止突然出现
      background-color: $bg-color-content;
      border-top: 1px solid $dropdownMenu-border-color;
      width: 100%;
      max-height: calc(100vh - 60px);
      left: 0;
      right: 0;
      top: $height-nav; // 60px
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        width: 50%;
        margin: 0;
        padding: 24px 0 calc(100vh - 60px - 24px);

        li {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          padding: 12px 0;
          width: 100%;
          border-bottom: 1px solid $dropdownMenu-border-color;

          // 设置文本样式
          color: $dropdownMenu-text-color;
          font-size: $font-size-default; // 14px

          // hover特效
          &:hover {
            color: $underline-color;
          }
        }
      }
    }
  }
}

// sticky background
.showSticky {
    background-color: $bg-color;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px 0px;
    transition: .7s ease-in-out;
}



// 媒体查询(适用于网页放大和缩小)
@media screen and (min-width: 1440px) {
  .headerContent {
    max-width: 1362px;
  }
}

@media screen and (min-width: 1680px) {
  .headerContent {
    max-width: 1482px;
  }
}

@media screen and (min-width: 768px) {
  .button,
  .moblieButton {
    // 在大于等于 768px 的屏幕上隐藏元素
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navItem,
  .switch {
    // 在小于 768px 的屏幕上隐藏元素
    display: none;
  }
}
