
.footer {

    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $bg-componment;
    border-top: 1px solid $border-color-nav;
    font-size: $font-size-default;
    padding: 0.5rem 1rem;
    padding-bottom: 0;

    .footerContent {
        padding: 0;

        .showInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font-color-nav;


            }
        }
    }
}