
.grid {

    display: grid;
    padding: 0 5%;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* 设置每个网格的宽度，考虑间距 */
    grid-auto-rows: auto; /* 高度自适应 */
    gap: 20px;
    // items在单元格内垂直水平居中
    align-items: center;
    justify-items: center;
    //整个内容区域在容器里面垂直水平居中
    align-content: center;
    justify-content: center;

    .items {

        padding: 0;
        width: 100%;
        height: 100%;

        .item {
  
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background-color: $homecard-color;
            border-radius: $space-card;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                border-radius: 6px;
                background-color: $homecard-minibox-color;
                width: 48px;
                height: 48px;
                font-size: 24px;
                transition: background-color .25s;
            }
    
            .subtitle {
                line-height: 24px;
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
    
            .detail {
                flex-grow: 1;
                padding-top: 8px;
                line-height: 24px;
                font-size: 14px;
                font-weight: 500;
                color: rgba(60, 60, 67, .7);
                margin: 0;
            }
        }
    }
}

/* 根据屏幕大小调整网格布局 */
@media (max-width: 992px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }