
.content {

    // 设置布局
    display: block;
    overflow: hidden;
    // 使大小屏幕多个组件左右外边距一致 (important)
    // max-width: fit-content;
    
    // 设置背景
    background-color: $bg-light-mode;

    .contentRow {
        
        // 设置布局
        display: flex;
        flex-direction: row;
        

        .homeWord {

            // 设置布局
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;

            .h1Active {

                display: flex;
                width: auto;
                font-size: $font-size-homeHeadline;

                div {
                    width: auto;
                    font-size: $font-size-homeHeadline;
                    font-weight: $font-weight-hoemHeadline;
                    
                    // 设置渐变字体
                    background: rgb(233,160,154);
                    background: linear-gradient(101deg, rgba(233,160,154,1) 27%, rgba(231,206,105,1) 50%, rgba(195,62,49,1) 83%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;                  
                }  
            }

            h2 {
                // 字体大小
                width: auto;
                font-size: 3rem;
                font-weight: $font-weight-hoemHeadline;
                // 设置渐变字体
                background: rgb(234,48,32);
                background: linear-gradient(101deg, rgba(234,48,32,1) 15%, rgba(231,206,105,1) 39%, rgba(234,124,113,1) 87%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;   
            }

            
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-top: 2rem;

                .buttonActive {

                    // 设置布局
                    display: flex;
                    flex-wrap: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    padding: 0 $space-button;
                    line-height: $height-buttons;
                    

                    button {

                        // 设置布局
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;

                        border: none;
                        outline: none;
                        box-shadow: none;
                        border-radius: $border-button-useful;
                        padding: 0 1.5rem;
                        
                        // 设置字体
                        font-size: $font-size-buttons;
                        font-weight: $font-weight-buttons;
                        text-align: center;

                    }

                    .buttonStudy {
                        border-color: $font-color-buttons1;
                        background-color: $font-color-buttons1;
                        color: white;
                        transition-duration: 0.25s;

                        &:hover {
                            background-color: $font-color-buttons1-hover;
                        }
                    }


                    .buttonContact {
                        
                        background-color: $font-color-buttons2;
                        border-color: $font-color-buttons2;
                        transition-duration: 0.25s;

                        & {
                            border: 1px solid #c0c0c2;
                        }

                        &:hover {
                            background-color: $font-color-buttons2-hover;
                        }
                    }
                }
            }
        }

        .homeImg {
            
            // 设置布局
            // width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            .imgBg {

                // 设置布局
                display: flex;
                position: relative;
                align-items: center;

                // 改变ggbond的大小
                width: 80%;
                

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // 设置图片蒙版背景
                    border-radius: 50%;
                    background-image: url(../images/imgBg.png);
                    background-position: center;
                    background-size: cover;
                    filter: blur(60px);
                    z-index: 1;
                }

                img {
                    z-index: 2;
                }

            }

        }
    }
}