
.content {

    // 设置布局
    display: block;
    overflow: hidden;

    // 使大小屏幕多个组件左右外边距一致 (important)
    // max-width: fit-content;
    
    // 设置背景
    background-color: $bg-light-mode;

    .contentRow {
        
        // 设置布局
        display: flex;
        flex-direction: row;
        
        

        .homeWord {


            // 设置字体

            // 设置布局
            // width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {

                width: 100%;
                font-weight: 1000;
                color: black;
                
            }

        }

        .homeImg {
            
            // 设置布局
            // width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .imgFather {

                // 设置布局
                // width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                // 改变yoshi的大小
                width: 70%;
                height: 70%;

            }

        }
    }
}