.card {

    display: flex;
    flex-direction: column;
    border-radius: $border-card;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // 内容居中
    justify-content: center;
    align-content: center;

    // 子元素居中
    justify-items: center;
    align-items: center;
    // 内部结构
    padding: 1rem 1.2rem;

    // 设置字体
    font-size: $font-size-default;
    color: $font-color-card;

    .authorPic {

        width: $width-headPicture;
        height: $height-headPicture;
        padding: $space-card-component;
        
        img {
            border-radius: 50%;
        }
    }
    .authorTag {
        font-size: 0.5rem;
        font-weight: 600;
        padding: $space-card-component;

        .tag {
            width: auto;
            background-color: skyblue;
            border-radius: 12px;
            padding: 2px 5px ;
        }
    }
    .authorName{
        font-weight: 500;
        font-size: 1rem;
        padding: $space-card-component;

        span {
            text-align: center;
        }
    }
    .authorWork {
        padding: $space-card-component;
    }
    .authorGithub {
        padding: $space-card-component;
    }   
}