.card {

    display: flex;
    flex-direction: column;
    border-radius: $border-card;
    background-color: $card-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // 内容居中
    justify-content: center;
    align-content: center;

    // 子元素居中
    justify-items: center;
    align-items: center;

    // 设置字体
    font-size: $font-size-default;
    color: $card-text-color;

    .cardHead {
        height: 20%;
        width: 100%;
        background: rgb(183,15,0);
        background: linear-gradient(101deg, rgba(183,15,0,1) 9%, rgba(220,38,22,1) 33%, rgba(234,104,91,1) 64%, rgba(251,167,158,1) 87%);
        border-top-left-radius: $border-card;
        border-top-right-radius: $border-card;
    }

    .authorPic {

        width: $width-headPicture;
        height: $height-headPicture;
        padding: $space-card-component;
        
        img {
            border-radius: 50%;
        }
    }
    .authorTag {
        font-size: 0.5rem;
        font-weight: 600;
        padding: $space-card-component;

        .tag {
            width: auto;
            background-color: skyblue;
            border-radius: 12px;
            padding: 2px 5px ;
        }
    }
    .authorName{
        font-weight: 500;
        font-size: 1rem;
        padding: $space-card-component;

        span {
            text-align: center;
        }
    }
    .authorWork {
        padding: $space-card-component;
    }
    .authorGithub {
        padding: $space-card-component;
    }   
}