// 此处预定义全局变量


/**
 * 全局背景-颜色变量定义
 */
$bg-light-mode: white;
$bg-dark-mode: #111827;
$bg-componment: rgba( 255, 255, 255, 0 );

/**
* 全局字体-颜色变量定义
*/
$font-color-default: black;         // 默认颜色
$font-color-nav: #3c3c43;           // 导航栏颜色


/**
*  全局字体-大小粗细变量定义
*/
$font-size-default: 14px;               // 默认大小
$font-weight-nav: 500;                  // 导航栏字体粗细

/**
* 全局 padding / margin -空间尺寸变量定义
*/
$space-default: 5px;                    // 默认间距
$space-container: 15px;                 // 容器间距 
$space-navBox: 10px;                    // 导航盒间距


/**
* 全局border变量定义
*/
$border-color-nav: #e7e7e8;         // 导航栏边框


/**
* 全局border-radius变量定义
*/
$border-button-normal: 5px;             // 默认圆角

/**
* 全局高宽变量定义
*/
$height-default: 40px;                  // 默认的
$height-nav: 40px;                      // 导航栏默认高度


$width-default: 120px;                  // 默认的
$width-nav: 30px;                       // 导航栏默认宽度

 