
.content {

    // 设置布局
    display: block;
    overflow: hidden;

    // 设置背景
    background-color: $bg-light-mode;    

    .contentRow {

        // 设置布局
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
        justify-content: center;

        .catalog {
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .mainText {
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
}