// 导入部分Bootstrap的CSS文件
// @import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

// 导入全局变量
@import './mixin.scss';

body {

    // 设置全局字体
    font-family: Dejavu Sans Mono, "Microsoft YaHei", Arial, Helvetica, sans-serif;

    // 设置全局布局，设置缩小居中并取消body自带margin(!important)
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $bg-color;
    // 深色模式等项目完成后再添加
}

// 导航栏下拉菜单动画效果
.fade-slide-enter-from,
.fade-slide-leave-to {
    will-change: max-height border-top-color;
    border-top-color: transparent;
    max-height: 0;
    overflow: hidden; /* 避免抖动 */
}

.fade-slide-enter-to,
.fade-slide-leave-from {
    will-change: max-height border-top-color;
    border-top-color: transparent;
    max-height: 300px;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: max-height 1s ease-in-out;
}

