.container {

    display: block;
    background-color: $bg-color-content;

    .content {
        @include contentCenter;
        padding: $space-container; // 10px

        .welcome {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // x轴水平垂直
            align-items: center;

            .homeFunction {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;

                .headTitle {
                    display: flex;
                    width: auto;
                    font-size: $font-size-homeTitle; // 2.5rem
                    font-family: 'Comic Sans MS';

                    div {
                        width: auto;
                        font-size: $font-size-homeTitle; // 2.5rem
                        font-weight: $font-weight-homeTitle; // 1000
                        font-family: 'Microsoft JhengHei';
                        
                        // 设置渐变字体
                        background: rgb(233,160,154);
                        background: linear-gradient(101deg, rgba(233,160,154,1) 27%, rgba(231,206,105,1) 50%, rgba(195,62,49,1) 83%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;   
                    }
                }

                h2 {
                    width: auto;
                    margin: 0;
                    padding-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: $font-weight-homeTitle; // 1000
                    // 设置渐变字体
                    background: rgb(234,48,32);
                    background: linear-gradient(101deg, rgba(234,48,32,1) 15%, rgba(231,206,105,1) 39%, rgba(234,124,113,1) 87%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;  
                }

                .buttonGroup {
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-top: 2rem;
                    
                    .buttonActive {

                        // 设置布局
                        display: flex;
                        flex-wrap: nowrap;
                        flex-shrink: 0;
                        justify-content: center;
                        align-items: center;
                        padding-right: $space-button; // 10px
    
                        .buttonStudy {
                            @include button;
                            border-color: $yellow;
                            background-color: $yellow;
                            color: #ffffff;

                            &:hover {
                                background-color: $yellow-hover;
                            }
                        }
    
                        .buttonContact {
                            @include button;
                            background-color: $white;
                            border-color: $white;
    
                            & {
                                border: 1px solid #c0c0c2;
                            }
    
                            &:hover {
                                background-color: $white-hover;
                            }
                        }
                    }
                }
            }

            .homeImg {
                @include allCenter;
                flex-direction: column;
                padding: 1rem;
                width: auto;
                // 自动撑满剩余空间
                flex-grow: 1;

                .imgBg {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;

                    // ggbond size
                    width: 80%;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        // 设置图片蒙版背景
                        border-radius: 50%;
                        background-image: url(../../images/imgBg.png);
                        background-position: center;
                        background-size: contain;
                        filter: blur(80px);
                        z-index: 1;
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        z-index: 2;
                    }
                }
            }
        }
    }
}


// 媒体查询(适用于网页放大和缩小)
@media screen and (min-width: 1440px) {
    .content {
      max-width: 1362px;
    }
}
  
  @media screen and (min-width: 1680px) {
    .content {
      max-width: 1482px;
    }
}