// 深色主题
$bg-color: #1e2227;
$text-color: #e8e8e8;

// 导航栏
$space-color-nav: #272c39;
$font-color-nav: #f8f8ef;  
$underline-color: #fad646;
$dropdownMenu-border-color: #262a37;
$dropdownMenu-text-color: #47474e;

// 主页
$homecard-color: #252529;
$homecard-minibox-color: #1e1e20;
$homePage-text-color: rgba(223, 223, 215, .7);


// 学习
$card-color: #121212;
$card-text-color: #b8b8b8;

// 底部栏
$font-color-footer: #e8e8e8;