// 深色主题
$bg-color: #1e2227;
$text-color: #e8e8e8;

// 导航栏
$space-color-nav: #272c39;
$underline-color: #c33e31;
$dropdownMenu-border-color: #262a37;
$dropdownMenu-text-color: #47474e;

// 主页
$homecard-color: #f6f6f7;
$homecard-minibox-color: #e3e3e5;
$homePage-text-color: #3c3c43;

// 学习
$card-color: #ffffff;
$card-text-color: #4c4948;

// 底部栏
$font-color-footer: #e8e8e8;