$bg-color: #ffffff;
$text-color: #000000;

// 导航栏
$space-color-nav: #e5e7e6;
$underline-color: #fad646;
$dropdownMenu-border-color: #e7e7e8;
$dropdownMenu-text-color: #3c3c43;

// 主页
$homecard-color: #252529;
$homecard-minibox-color: #1e1e20;
$homePage-text-color: #dfdfd7;

// 学习
$card-color: #121212;
$card-text-color: #b8b8b8;

// 底部栏
$font-color-footer: #3c3c43;