// 全局mixin

// 普通流式内容居中(important)
@mixin contentCenter {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

// 居中flex-end
@mixin flexEndCenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
}

// 普通居中
@mixin normalCenter() {
  display: flex;
  align-content: center;
  margin: 0 auto;
}

// 全居中
@mixin allCenter() {
  display: flex;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}

// 列表基础样式
@mixin list {
  // ul - li样式
  text-decoration: none;
  list-style: none;
}

// 按钮基础样式
@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: $border-button-radius-useful; // 20px
  padding: .4rem 1.5rem;
  transition-duration: 0.25s;
  cursor: pointer;
  
  // 设置字体
  font-size: $font-size-buttons; // 14px
  font-weight: $font-weight-buttons; // 600
  text-align: center;
}

// 卡片基础样式
@mixin card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: $border-card; // 12px
  background-color: $card-color;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  // 内容居中
  justify-content: center;
  align-content: center;
  // 子元素居中
  justify-items: center;
  align-items: center;
  // 设置字体
  font-size: $font-size-default; // 14px
  color: $card-text-color;
}