// 全局动画效果

/* 动画效果样式 */
.fade-slide-enter-from,
.fade-slide-leave-to {
    will-change: height, border-top-color;
    border-top-color: transparent;
    height: 0px; /* 保持一致，确保动画效果 */
}

.fade-slide-enter-to,
.fade-slide-leave-from {
    will-change: height, border-top-color;
    border-top-color: transparent;
    height: calc(100vh - 60px); /* 保持一致，确保动画效果 */
}

.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: height 1s ease-in-out;
}