// 通用主题变量
$bg-color: #ffffff;
$text-color: #000000;
$bg-componment: rgba(255, 255, 255, 0);
$bg-homePage-card: #f6f6f7;

// 全局颜色定义
$red: #c33e31;
$yellow: #fad646;
$yellow-study: #fdbf38;
$yellow-hover: #e7c231;
$white: #f6f6f7;
$white-hover: #e3e3e5;
$skin: #e8b69b;
$gray: #3c3c43;

/**
* 全局字体-局部颜色变量定义
*/
$font-color-default: black;         // 默认颜色
$font-color-homePage: #3c3c43;      // 主页滚动字体颜色

/**
*  全局字体-大小粗细变量定义
*/

// 大小
$font-size-default: 14px;               // 默认
$font-size-nav: 16px;                   // 导航栏
$font-size-homePage: 1.1rem;            // 首页滚动字体
$font-size-homeHeadline: 2.5rem;        // 首页标题字体
$font-size-buttons: 14px;               // 按钮字体


$font-size-footer: 14px;                // 底部字体

// 粗细
$font-weight-nav: 500;                  // 导航栏字体
$font-weight-homePage: 550;             // 首页滚动字体
$font-weight-hoemHeadline: 1000;        // 首页标题字体
$font-weight-buttons: 600;              // 按钮字体

/**
* 全局 padding / margin -空间尺寸变量定义
*/
$space-default: 5px;                    // 默认间距
$space-container: 20px;                 // 容器间距 
$space-navBox: 10px;                    // 导航盒间距
$space-button: 5px;                     // 按钮间距
$space-card: 12px;                      // 卡片间距
$space-card-component: 5px;             // 卡片内部组件间距

/**
* 全局border变量定义
*/
$border-color-nav: #e7e7e8;         // 导航栏边框
/**
* 全局border-radius变量定义
*/
$border-button-normal: 5px;             // 默认圆角
$border-button-radius-useful: 20px;     // 最常用圆角
$border-card: 12px;                     // 卡片组件圆角

/**
* 全局高宽变量定义
*/
$height-default: 40px;                  // 默认的
$height-nav: 60px;                      // 导航栏默认高度
$height-navItem: 40px;                  // 导航栏内容高度
$height-buttons: 2rem;                
$height-headPicture: 100px;             // 头像高度


$width-default: 120px;                  // 默认的
$width-nav: 30px;                       // 导航栏默认宽度
$width-headPicture: 100px;              // 头像宽度
